.place{
  display:grid;
  grid-template-columns: repeat(2, minmax(min-content, auto));
  grid-template-rows: repeat(2, minmax(min-content, auto));
  column-gap: 40px;
  justify-content: start;
  align-content:end;
  margin-bottom: 80px;
}
.place:last-of-type{
  margin-bottom: 0;
}
@media screen and (max-width: 1279px){
  .place{
    column-gap: 32px;
  }
}
@media screen and (max-width: 1023px){
  .place{
    column-gap: 28px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width:767px){
  .place{
    grid-template-columns: minmax(min-content, auto);
    grid-template-rows: repeat(3, minmax(min-content, auto));
    margin-bottom: 48px;
    
    
  }
}