.place__website{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items:flex-start;
  margin: 0;
  margin-bottom:48px;
  min-width: 456px;

}

@media screen and (max-width: 1023px){
  .place__website{
    min-width:352px;
  }
}

@media screen and (max-width:767px){
  .place__website{
    display: none;
  }
}