.place__title{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 1;
  color: #FFFFFF;
  width:47%;
  max-width:460px;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 48px;
}
@media screen and (max-width: 1279px){
  .place__title{
    max-width: 440px;
    
  
  }
}
@media screen and (max-width: 1023px){
  .place__title{
    max-width: 340px;
    font-size: 42px;
    line-height: 1;
    margin-top: 18px;
  }
}
@media screen and (max-width: 425px){
  .place__title{
    width: 288px;
    font-size: 32px;
    line-height: 1;
    margin: 0 auto;
    margin-bottom:32px;
    margin-top: 28px;

    
  }
}