.intro{
    max-width:100%;
    margin-bottom: 92px;
    margin-left: 11.5%;
    width:54%;
    display:flex;
    flex-direction: column;
    justify-content:start;
    align-items:flex-start;
   
    

}


@media screen and (max-width: 1279px){
    .intro{
     margin-left: 4.6%;   
    }

}
@media screen and (max-width: 1023px){
    .intro{
      margin-left: 3.1%;
      margin-bottom: 88px;     
       }
    
}
@media screen and (max-width: 320px){
    .intro{
      margin-left: 5%;
      margin-bottom: 64px;     
       }
    
}